block content
.ui.container.with.dignity
	.ui.stackable.divided.middle-aligned.centered.grid
		.ui.center.aligned.doubling.row
			.ui.five.wide.center.aligned.column

				h1.ui.center.aligned.huge.icon.header
					i.huge.circular.chess.knight.icon
					| Atlantic Fomantic

				h2.ui.large.header Hyvästi Julma Maailm
				button.ui.secondary.button Imprints
				button.ui.primary.button Offprints


			.ui.five.wide.center.aligned.column

				h1.ui.center.aligned.huge.icon.header
					i.huge.circular.chess.knight.icon
					| Atlantic Fomantic

				h2.ui.large.header Hyvästi Julma Maailm
				button.ui.secondary.button Imprints
				button.ui.primary.button Offprints
			

			.ui.five.wide.center.aligned.column

				h1.ui.center.aligned.huge.icon.header
					i.huge.circular.chess.knight.icon
					| Atlantic Fomantic

				h2.ui.large.header Hyvästi Julma Maailm
				button.ui.secondary.button Imprints
				button.ui.primary.button Offprints	
.ui.divider
.ui.container
	.ui.stackable.divided.middle-aligned.centered.grid
		.ui.center.aligned.doubling.row
			.ui.five.wide.center.aligned.column

				h1.ui.center.aligned.huge.icon.header
					i.huge.circular.chess.knight.icon
					| Atlantic Fomantic

				h2.ui.large.header Hyvästi Julma Maailm
				button.ui.secondary.button Imprints
				button.ui.primary.button Offprints


			.ui.five.wide.center.aligned.column

				h1.ui.center.aligned.huge.icon.header
					i.huge.circular.chess.knight.icon
					| Atlantic Fomantic

				h2.ui.large.header Hyvästi Julma Maailm
				button.ui.secondary.button Imprints
				button.ui.primary.button Offprints


			.ui.five.wide.center.aligned.column

				h1.ui.center.aligned.huge.icon.header
					i.huge.circular.chess.knight.icon
					| Atlantic Fomantic

				h2.ui.large.header Hyvästi Julma Maailm
				button.ui.secondary.button Imprints
				button.ui.primary.button Offprints