.ui.secondary.menu
	a.active.item
	i.huge.material-icons beach_access
	| &nbsp; &nbsp;Engenho Novo LLC
	
	a.item.
	
	In Principio
	
	a.item.
	
	In Media Res
	a.item.
	
	Gaudeamus
	
	.right.menu
	.item
		.ui.icon.input
		input(type='text' placeholder='Search ...')
		i.search.link.icon
	a.item 
		.ui.compact.menu
		.ui.simple.dropdown.item 
			i.material-icons all_inclusive
			| &nbsp;&nbsp;Opções
			i.dropdown.icon
			.menu
			.item Gilgamesh
			.item Inanna
			.item Atrahasis
			.item Enmerkar
			.item Enuma Elish
			.item Karet
			.item Kumarbi
			.item Lugalbanda